/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: rgb(250, 250, 243);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

figure{
	height: 505px;
}

.figureTitre{
	height: auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#introduction img {
	display: block;
	width: 100%;
	height: 355px;
}

#introduction figure{
	width: 474px;
}

#introduction article {
	width: 43%;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	width: 81%;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/**********************
	BOUTTONS FILTERS
**********************/

.filterProject{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

.filter-button{
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	background-color: #fff;
	color: #1D6154;
	border-color: #1D6154;
	border-radius: 25px;
	cursor: pointer;
}

.filter-button:hover{
	background-color: #1D6154;
	color: #fff;
}

.filter-button.active {
    background-color: #1D6154;
    color: #fff;
  }

/**********************
		TABLETTE
**********************/

@media only screen and (min-width: 768px) and (max-width: 1024px){
	body{
		margin-right: 50px;
		margin-left: 50px;
	}

	#introduction figure{
		width: 48%;
		
	}

	#introduction img{
		height: 320px;
	}

	#introduction h2{
		font-size: 25px;
	}

	#introduction p{
		font-size: 14px;
	}


	.filter-button{
		font-size: 18px;
	}

}


@media (max-width: 767px){
	
	header {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	header h1{
		margin-bottom: 30px;
		font-size: 45px;
	}

	nav li{
		font-size: 1.6em;
	}

	#introduction {
		flex-direction: column;
		margin: 40px 0;
	}

	#introduction figure{
		width: 90%;
		margin-bottom: 30px;
	}

	#introduction img{
		object-fit: cover;
	}

	#introduction p{
		font-size: 20px;
		width: 100%;
	}

	#introduction article {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	section {
		margin: 40px 35px;
	}


	.filterProject{
		flex-wrap: wrap;
	}




	.filter-button{
		font-size: 15px;
		width: 40%;
		margin-bottom: 15px;
	}


	#contact {
		width: 70%;
	}


}


/*************************
		MODALE
*************************/


.modale{
	width: 42%;
    border-radius: 16px;
	background-color: #fff;
	display: none;
}

.modale .croix{
	height: 20px;
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	border-radius: 16px;
}

.modale .croix p{
	cursor: pointer;
	margin: 20px;
	font-size: 15px;
	font-weight: bold;
}

i.fa-solid.fa-arrow-left{
	cursor: pointer;
	margin: 20px;
	font-size: 15px;
}

.galleryContainer{
	background-color: #fff;
}

.modaleContent{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 16px;
}

.modaleContent h3{
	font-size: 30px;
	background-color: #fff;
	padding-bottom: 20px;
}


.modale .galleryContainer{
	background-color: #fff;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	height: 470px;
	overflow-y: auto;
}

.modale .galleryContainer img{
	width: 100%;
	height: 110px;
	display: flex;
	background-color: #fff;
	object-fit: cover;
}

.borderBottom{
	border: 1px solid black;
	width: 70%;
}

.addPhoto{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background-color: #fff;
	
}

.addPhoto button{
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	gap: 0px;
	font-weight: bold;
	border-radius: 25px;
	opacity: 0px;
	margin-bottom: 30px;
	background-color: #1D6154;
	color: #fff;
	cursor: pointer;
}

.divImagesContent{
	background-color: #fff;
	height: 110px;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 17%;
}

.modaleBackground{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center; 
}

.divImagesContent {
	position: relative;
	display: inline-block;
  }
  
  .divImagesContent img {
	display: block;
	width: 100%; 
  }
  
  .iconContainer {
	position: absolute;
	top: 10px;
	right: 10px; 
	background: rgba(0, 0, 0, 0.5);
}

#trashId{
	cursor: pointer;
	background-color: black;
	padding: 3px;
	color: #fff;
}

/***************************
		DEUXIEME MODALE
***************************/		

.pictureAddContainer{
	display: none;
	justify-content: space-between;
	flex-direction: column;
	background-color: #fff;
	width: 70%;
}



.modaleTitle{
	font-size: 30px;
	background-color: #fff;
	margin-bottom: 30px;
}


.cadreAddPhoto{
	height: 190px;
	background-color: rgb(225, 240, 240);
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;
}

form#formModale{
	display: flex;
	flex-direction: column;
	background-color: rgb(225, 240, 240);
	align-items: center;
	justify-content: space-around;
}

label#modale{
	background-color: #fff;
	margin-bottom: 10px;
	font-size: 16px;
}

.inputTitre{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}

.inputTitreAndCategorie{
	margin-bottom: 30px;
	background-color: #fff;
}

.inputCategories{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.inputTitreAndCategorie input{
	height: 40px;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.fa-regular, .far{
	font-size: 80px;
	color: rgb(161, 148, 148);
	background-color: rgb(225, 240, 240);
	margin-bottom: 10px;
}

button#ajouterphoto{
	font-size: 20px;
	color: rgb(49, 68, 82);
	border-radius: 50px;
	padding: 6px 23px 6px 23px;
}

.cadreAddPhoto p{
	background-color: rgb(225, 240, 240);
	margin-bottom: 10px;
}

.borderBottomDeux{
	border: 1px solid black;
	width: 100%;
	margin-top: 40px;
}

.valider{
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.btnValider{
	margin-top: 20px;
	width: 237px;
	border-radius: 25px;
	/* background-color: #1D6154; */
	background-color: rgb(177, 171, 171);
	color: #fff;
	cursor: pointer;
	height: 36px;
	font-weight: bold;
	font-size: 14px;
}

.errorMessage{
	margin-bottom: 10px;
	font-size: 22px;
	color: red;
	background-color: #fff;
	display: none;
}

#labelFile{
	font-size: 20px;
	color: rgb(49, 68, 82);
	border-radius: 50px;
	padding: 6px 23px 6px 23px;
	background-color: rgb(161, 148, 148);
	margin-bottom: 10px;
}

input#fileInput{
	display: none;
}

.cadreimgSelectionne{
	background-color: #fff;
}

.cadreimgSelectionne img{
	width: 200px;
	height: 180px;
	margin: auto;
	display: block;
	object-fit: cover;
}

.cadreimgSelectionne{
	display: none;
}

select#category{
	background-color: #fff;
	height: 40px;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}